
:root{
    --is_main_color : #FC4B6F;
    --linear_primary : linear-gradient(90deg, rgba(19,99,223,1) 0%, rgba(71,181,255,1) 100%);
}
.active{
    color: var(--is_main_color);
}
.body_white{
    background: #e6e6f6;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
#content_no_padding{
    margin-bottom: 90px !important;
    overflow: hidden;
}
.login_header{
    font-size: 19px;
    font-weight: 600;
    cursor: pointer;
}
.login_body{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login_body .lbody_image img{
    object-fit: contain;
}
.widjet_bottom{
    position: fixed;
    left: 50%;
    bottom: 40px;
    width: 90%;
    transform: translate( -50%);
    margin: 0 auto;
}
.widjet_bottom .login_form{
    background-color: #ffff;
    width: 100%;
    padding: 10px;
    border-radius: 20px;

}
.login_form .title_login p{
    font-size: 20px;
    font-weight:800 !important;
    font-family: 'Avenir LT Std';
}
.title_login_type{
    font-weight:800 !important;
    font-family: 'Avenir LT Std';
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* .title_login_type.active{
    color: #FC4B6F;
    border-bottom: 3px solid #FC4B6F;
} */
.title_type {
    padding-left: 10px;
    padding-right: 10px;
    border-bottom: 3px solid black;
}
.title_type.active{
    color: #FC4B6F;
    border-bottom: 3px solid #FC4B6F;
}
.input_login{
    padding: 30px !important;
    border-radius: 12px !important;
}
.btn_login{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.control_nva{
    position: relative;
    height: 380px;
}
.control_nva_product{
    position: relative;
    height: 250px;
}
.bntSinging{
    font-family: 'Avenir LT Std';
    border: none !important;
    background-color: #FC4B6F !important;
    font-size: 19px !important;
    font-weight: 800 !important;
    width: 100%;
    padding: 20px !important;
    border-radius: 10px !important;
    margin-top: 10px;
}

.login_form .title_detail_login p{
    margin-top: 5px;
    font-size: 17px;
    font-weight:700 !important;
    font-family: 'Avenir LT Std';
    text-align: center;
}
.end_login_detail{
    margin-top: 10px;
    font-size: 16px;
    font-weight:700 !important;
    font-family: 'Avenir LT Std';
    text-align: center;
}
.home_screen_nav{
    padding-top: 10px;
    background: var(--linear_primary);
    height: 250px;
    width: 100%;
    border-radius: 0px 0px 30px 30px;

}
.nav_detail{
    margin: 0 auto;
    width: 90%;    
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px; 
    font-size: 18px;
    color: #ffff;
    font-weight: 800 !important;
    position: relative;
}
.nav_detail span{
    font-family: 'Avenir LT Std';
    font-size: 18px;
    color: #ffff;
    line-height: 24px;
    font-weight: 800 !important;
    margin-left: 5px;
}
.category_box ,.category_box_2{
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    top: -197px;
    overflow: hidden;
}
.category{
    margin-top: 10px;
    /* height: 400px; */
    width: 87%;
    background-color: #ffff;
    border-radius: 20px;
    overflow: hidden;
    padding: 10px;
}
.c_item{
    margin-top: 10px;
    width: 100%;
    height: 100px;
    border: 2px solid #D1EFFF;
    background-color: #F6F9FE;
    border-radius: 10px;
}
.cate_img{
    height: 70%;
    width: 100%;
}
.cate_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cate_title{
    height: 30%;
    width: 100%;
    text-align: center;
}
.cate_title span{
    font-size: 14px;
    font-weight: 900;
    font-family: 'Avenir LT Std';
}

   .swiper {
      width: 100%;
      height: 100%;
      overflow: hidden;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      overflow: hidden;
      /* padding: 10px;
       */

    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit:cover;
    }
.is_manage_slide{
    width: 87%;
    height: 200px;
    margin: 0 auto;
    margin-top: 20px;
}


span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: var(--is_main_color);
    opacity: 1;
  }

.nav_footer{
    width: 100%;
    padding: 10px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FFFFFF;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 100;
}
.footer_item{
    width: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    font-size: 11px;
    font-weight: 700;
}
.box_list{
    width: 87%;
    /* height: 200px; */
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
}
.box_list .box_header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Avenir LT Std';
}
.heaer_title_right{
    font-size: 20px;
    font-weight: bold;
    color: #161531 !important;
}
.heaer_title_left{
    font-size: 15px;
    font-weight: bold;
}
.box_item{
    margin-top: 5px;
    width: 100%;
    height: 100px;
    border: 2px solid #D1EFFF;
    background-color: #F6F9FE;
    border-radius: 10px;
    padding: 2px;
}
.box_img{
    height: 50%;
    width: 100%;
}
.box_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.box_title{
    height: 50%;
    width: 100%;
    text-align: center;
}
.box_title span{
    font-size: 14px;
    font-weight: 900;
    font-family: 'Avenir LT Std';
}
.sub_detail{
    margin-top: 10px !important;
    width: 87%;
    background-color: #ffff;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;

   
}  
.sub_detail_header{
    display: flex;
    justify-content: space-between;
} 
.sub_detail_title_right{
    font-size: 16px;
    font-weight: bold;
    color: #161531 !important;
}
.sub_detail_title_left{
    font-size: 13px;
    font-weight: bold;
}
.sub_detail_slide ,.sub_detail_slide_item_discount{
    width: 100%;
    height: 300px;
    margin-top: 10px;
}

.mySwiper2 .swiper-slide {
    width: 100%;
    text-align: center;
    font-size: 18px;
    /* background: #b31d1d; */
    padding: 10px;
    border: 2px solid #D1EFFF;
    background-color: #F6F9FE;
  }

.mySwiper2  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

.mySwiper2 .swiper-slide {
    width: 70%;
  }

.mySwiper2 .swiper-slide_detail_item:nth-child(2n) {
    width: 60%;
  
}
.swiper-pagination-bullets {
    display: none;
}

/* .mySwiper2 .swiper-slide:nth-child(3n) {
    width: 40%;
  } */
.detail_item_img{
    width: 100%;
    height: 40%;
    background-color: #ffff;
    border-radius: 10px;
    overflow: hidden;
    /* padding: 10px; */

}
.detail_item_img  img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.detail_item_title ,.detail_item_discount{
    width: 100%;
    height: 60%;
    /* background-color: blue; */
    border-radius: 10px;
    padding: 10px;

}
.detail_item_title  .item_main_title{
    font-size: 16px;
    font-weight: 900;   
    font-family: 'Avenir LT Std';
    text-align: left;
}
.detail_item_title .detail_item_rate{
    width: 100%;
    height: 50px;
    float: left
}
.detail_item_rate .rate_image{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: start;
    float: left;
}
.detail_item_rate .rate_image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}  
.detail_item_rate .rate_icon{
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: left;
}
.detail_item_rate .rate_icon .rate_detail{
    font-size: 15px;
    font-weight: 900;
    font-family: 'Avenir LT Std';
}
.rate_stare{
    font-size: 12px;
    color: var(--is_main_color);
    font-weight: bold;
}
.buy_now{
    font-size: 13px;
    font-weight: bold;
    text-align: left;
}
.sub_total{
    font-size: 23px;
    font-weight: bold !important;
    color: #161531;
    /* font-family: 'Avenir LT Std'; */
}
.before_price{
    color: #617C9D;
    font-size: 14px;
    font-weight: bold;
    text-decoration: line-through;  
}
.discount{
    color: #009CD0;
    font-size: 14px;
    font-weight: bold;
}
.f_img{
    height: 100%;
    width: 100%;
    padding: 10px;
}
.f_img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: .8;
}
.sub_detail_slide_item_discount{
    height: 325px;
}
.add_to_card{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.add_button{
    width: 70%;
}
.add_button button{
    background-color: var(--is_main_color);
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    border-radius: 10px !important;
}
.add_to_favorite{
    width: 20%;
    border-radius: 5px;
    border: 1px solid #ced4da;
    display: flex;
    justify-content: center;
    align-items: center;
}
.rate_stare_yellow{
    font-size: 12px;
    color: #FAC213;
    font-weight: bold;
}
.sub_detail_row_list{
    width: 100%;
}
.row_list{
    width: 100%;
    height: 120px;
    background-color: #F6F9FE;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.row_list .row_list_img{
    width: 30%;
    overflow: hidden;
    height: 100%;
    padding: 2px;
    border-radius: 10px !important;
}
.row_list .row_list_img  img{
    width: 100%;
    object-fit:contain;
    height: 100%;
    /* opacity: .8; */
}
.row_list_title{
    width: 60%;
    overflow: hidden;
    height: 100%;
    padding: 2px;
    border-radius: 10px !important;
}
.row_list_description{
    font-size: 15px;
    font-weight: bold;
}
.row_list_item_name{
    font-size: 14px;
    font-weight: bold;
    color: #617C9D;
}
.supplier{
    width: 100%;
    display: flex;
    justify-content:left;
    align-items: center;
}
.supplier .supplier_img{
    width: 30px;
    height: 30px;
    border: 2px solid #D1EFFF;
    border-radius: 50%;
    overflow: hidden;
}
.supplier .supplier_img img{
    width: 100%;
    object-fit:cover;
    height: 100%;
}
.supplier_name{
   margin-left: 5px;
   font-weight: 700;
   font-size: 13px;
}
.show_more_list button{
    width: 100%;
    padding: 10px;
    background-color: var(--is_main_color);
    color: #ffff;
}
.title_type:focus , .title_type:active{
    background: blue;
}
.category_box_2{
    top: -110px;
}
.home_screen_nav_subtitle{
    margin: 0 auto;
    width: 87%;
    font-size: 20px;
    color: #FFFFFF;
    font-weight: bold;
}
.product_box{
    width: 100%;
    height: 200px;
    background-color: #ffff;
    border-radius: 20px;
    overflow: hidden !important;
    position: relative;
    margin-bottom: 15px;
}
.cate_slide{

    padding: 5px;
    color: #242A37;
    white-space: nowrap;
    border: 2px solid #A5BECC;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    margin: 2px;
}
.control_menu_slide{
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    padding: 10px;
}
.cate_slide.is_active{
    background-color: var(--is_main_color);
    color: white;
    border: none;
}
.block_image{
    width: 100%;    
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.block_image .block_control_img_style{
    width:90px;
    height:90px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #A5BECC;
}
.block_image .block_control_img_style img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.block_title{
    width: 100%;    
    height: 50%;
    padding: 5px;
    overflow: hidden !important;
}
.sub_des{
    width: 100%;
    font-size: 11px;
    color: #617C9D;
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}
.is_desc2{
    width: 100%;
    color: #161531;
    font-size: 14px !important;
    font-weight: 800;
    text-align: center;
}
.is_add_tocard{
    position: absolute;
    width: 37px;
    height: 30px;
    bottom: 0;
    right: 0px;
    background-color: var(--is_main_color);
    border-radius: 10px 0 10px 0;text-align: center;text-emphasis: none;
    color: white;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quantity_item{
    position: fixed;
    bottom: 70px;
    height: 50px;
    width: 100%;
    padding: 10px;
    border-radius: 5px 5px 0px 0px;
    left: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items:center ;
    z-index: 2700;

    /* border: 2px solid #A5BECC; */
}
.quantity-title{
    display: flex ;
    flex-direction: column;
}
.quantity_name{
    font-size: 13px;
    color: #617C9D;
}
.quantity_quantity{
    font-size: 16px;
    color: #161531;
    font-weight: bold;
   
}
.sub_item_list{
    width: 100%;
    border-bottom: 1px solid var(--is_main_color);
    height: 30px;
    margin-bottom: 10px;
}
.sub_item_list_title{
    width: 30%;
    background: var(--linear_primary);
    height: 100%;
    -webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
    clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 80%, 75% 0);
    text-align: center;
    color: white;
    font-size: 11px;
    display: flex;
    justify-content: center;
    align-items:center ;
    border-radius: 4px 4px 0px 0px !important;
    font-weight: bold;
    opacity: 0.8;

}
.list_of_all{
    padding: 10px;
    margin-top: 10px;
    background-color: white;
    border-radius: 10px;
}
.list_body{
    width: 100%;
    padding: 10px;
}
.list_body_box{
    height: 200px;
    width: 100%;
    display: flex;  
    justify-content: start;
    padding: 10px;
    border-bottom-style: dashed !important;
    border-bottom: 0.001em solid #242A37;
    /* background-image: url("data:image/svg+xml,%3csvg width='200%25' height='200%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='110%' height='100%25' fill='none' stroke='%23333' stroke-width='1' stroke-dasharray='6' stroke-dashoffset='2' stroke-linecap='butt'/%3e%3c/svg%3e"); */
   

}
.list_body_box .list_box_image{
    width: 40%;
    height: 70%;
    background-color:#F6F9FE;
    border-radius: 10px !important;
    border: 1px solid #D1EFFF;
    padding: 10px;
}
.list_body_box .list_box_image .image{
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 4px !important;
}

.list_body_box .list_box_image .image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.list_box_title{
    width: 60%;
    height: 100%;
    padding: 10px;
    /* overflow: hidden; */
}
.top_title{
    overflow: hidden;
    font-size: 16px;
    font-weight: 900;   
    font-family: 'Avenir LT Std';
    color: #161531;
    padding: 0px;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;   
    width: 100%;
}
.top_title_2{
    font-size: 13px;
    font-weight: 700;   
    font-family: 'Avenir LT Std';
    color: #617C9D;
    padding: 0px;
    width: 100%;
}
.add_button_of_list{
    margin-top: 5px;
    width: 70%;
}
.add_button_of_list button{
    background-color: var(--is_main_color);
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    padding: 5px;
    width: 100%;
    border-radius: 5px !important;

} 
.nav_title{
    padding: 10px;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Avenir LT Std';
    color: #161531;
}

.order_list{
    width: 87%;
    /* height: 200px; */
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 50px;
    background-color: #ffff;
    border-radius: 10px;
    padding: 10px;
}
.order_list .box_header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: 'Avenir LT Std';
}
.order_list_item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom-style: dashed !important;;
    border-bottom: 0.001em solid #687081;
    padding: 10px;
}
.order_item_description{
    width: 90%;
    display: flex;
    justify-content: start;
    padding: 5px;
}
.order_item_description .image{
    width: 20%;
    height: 70%;
    border-radius: 5px;
    overflow: hidden;
}
.order_item_description .image img{
     width: 100%;
     height: 100%;
     object-fit: cover;
}
.order_item_description .title{
    width: 80%;
    overflow: hidden;
    padding: 5px;
}
.order_item_description .title .title-s1{
    width: 100%;
    font-size: 12px;
    color: #161531;
    font-weight: 700;
    font-family: 'Avenir LT Std';

}
.order_item_description .title .title-s2{
    width: 100%;
    font-size: 11px;
    color: #161531;
    font-family: 'Avenir LT Std';
}
.order_item_description .title .title-s3{
    font-family: 'Avenir LT Std';
    width: 100%;
    font-size: 10px;
    /* color: #FC4B6F; */
    font-weight: 700;

}
.order_item_description .title .title-s4{
    font-family: 'Avenir LT Std';
    width: 100%;
    font-size: 12px;
    color: #FC4B6F;
    font-weight: 700;

}
.order_item_in-de{
    width: 10%;
    display: flex;
    justify-content: end;
    overflow: hidden;
}
.order_item_in-de .icon-s{
    margin-top: 3px;
    width: 30px;
    height: 30px;
    background-color: #E1F4FF;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: #161531;
    border: 1px solid #A5BECC; 
    border-radius: 50%;
}

.order_item_in-de .icon-r{
    margin-top: 3px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: #161531;
    border: 1px solid var(--is_main_color); 
    border-radius: 50%;
}
.parent_option{
    position: fixed;
    width: 0%;
    height: 0%;
    z-index: 10000;  
    background-color: #242a377c;
    top: 0; 
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s ease-in-out ;
}
.parent_option .option{
    /* allow-discrete */
    background-color: #ffff;
    position: absolute;
    width: 87%;
    border-radius: 15px 15px 0px 0px;
    padding: 0px 10px 10px 10px;
    overflow-x: auto;
    max-height: 500px;
    height: 0px;
    transition: all 0.4s ease-in-out ;
    bottom: 0;
}


.parent_option .option .option_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    color: #161531;
    font-family: 'Avenir LT Std';
    font-weight: bold;
    background-color: white;
    z-index: 10001;
    position: sticky;
    padding: 1px;
    top: 0;
    padding: 10px;
}
.parent_option .option .option_search{
    width: 100%;
}
.search_option{
    padding: 18px !important;
    border-radius: 8px !important;
    font-size: 10px;
    width: 100%;
    margin-top:10px;
    margin-bottom:10px;
}
.parent_option .option .check_parent{
    width: 100%;
    padding: 10px;
}
.parent_option .option .check_parent .check_header_title{   
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #161531;
    font-family: 'Avenir LT Std';
    font-weight: bold;
    padding-bottom:  5px;
    padding-top: 5px;

}
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    /* opacity: 0; */
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border: 1px solid #617C9D;
    border-radius: 5px !important;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: white;
  }
  
  /* When the checkbox is checked, add a teal background */
  .container input:checked ~ .checkmark {
    background-color: #ffff;
    border: 1px solid #FC4B6F;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: '';
    position: absolute;
    display: none;
  
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 12px;
    top: 6px;
    width: 5px;
    height: 14px;
    border: solid #FC4B6F;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    
  }

  .option_controller{
    display: flex;
    justify-content: start;
    margin-top: 20px;
  }

  .option_controller .title_checkbox{
    font-size: 13px;
    color: #161531;
    font-family: 'Avenir LT Std';
    font-weight: bold;
    margin-left: 10px;
  }


  .submit_order_option{
    margin-top: 5px;
    width: 20%;
    float: right;
}
.submit_order_option button{
    background-color: var(--is_main_color);
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    padding: 10px;
    width: 100%;
    border-radius: 5px !important;

} 
.status{
    width: 87%;
    margin: 0 auto;
    margin-top: 20px;
    background-color: #ffff;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.status .box_of_status , .status .box_of_status_no_active{
    font-family: 'Avenir LT Std';
    font-weight: bold;
    color: #161531;
    font-size: 15px;
    width: 49%;
    padding: 10px;
    border-radius: 20px;
    background-color: #E1F4FF;
    box-shadow: inset rgb(132 180 253 / 41%) 0px 0px 7px 2px, rgb(255 255 255 / 30%) 0px 30px 100px -24px;
    text-align: center;
}
.status .box_of_status_no_active{
    background-color: #EFF4F8;
    box-shadow: inset rgb(208 208 208 / 50%) 0px 0px 7px 2px, rgb(255 255 255 / 30%) 0px 30px 100px -24px
}
.payment_content{
    width: 87%;
    margin: 0 auto;
    margin-top: 20px;
}
.seach_box{
    width: 100%;
    overflow: hidden;

}
.list_of_bank{
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffff;
    margin-top: 10px;
}
.bank{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #cdcdcd;
}
.bank .back_image{
    width: 40px;
    height: 40px;
    margin-left: 10px;
    border-radius: 50%;
    overflow: hidden ;
}

.bank .back_image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.bank .bank_title{
    margin-left: 10px;
    font-size: 16px;
    color: #161531;
    font-weight: 600;
} 
.radio-item {
    display: inline-block;
    position: relative;
    padding: 0 6px;
    margin: 10px 0 0;
  }
  
  .radio-item input[type='radio'] {
    display: none;
  }
  
  .radio-item label {
    color: #FC4B6F;
    font-weight: normal;
  }
  
  .radio-item label:before {
    content: " ";
    display: inline-block;
    position: relative;
    top: 5px;
    margin: 0 5px 0 0;
    width: 20px;
    height: 20px;
    border-radius: 30px;
    border: 1px solid #161531;
    background-color: transparent;
  }
  
  .radio-item input[type=radio]:checked + label:after {
    border-radius: 11px;
    width: 12px;
    height: 12px;
    position: absolute;
    top: 9px;
    left: 10px;
    content: " ";
    display: block;
    border: 1px solid #FC4B6F;
    background: #FC4B6F;
  }